*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    line-height: 15vh;
    background-color: #20bf6b;
}
h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 15px;
    text-shadow: 0 1px 0 #efefef,0 2px 0 #efefef,0 3px 0 #efefef,0 4px 0 #efefef,0 30px 5px rgba(0,0,0,0.1);
}
section{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #7bed9f;
}
.gameArea{
    width: 50%;
    height: 400px;
    margin-top: 50px;
    padding: 20px 0;
    background-color: #2ed573;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-shadow: 0 8px  6px -6px black;
}
h3{
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 30px;
}
input{
   
    width: 40%;
    padding : 15px 0;
    text-align: center;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #dff9fb;
    color: black;
    margin: 10px auto;
    font-size: 1.1rem;
}
button{
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: #2f3542;
    margin-top: 10px;
    color: #eb4d4b;
    margin: 15px auto;
}
button.btn{
    font-weight: 600;
    padding: 1rem 2rem;
    background: white;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.65,-0.25,0.25,1.95);
}
button.btn:hover,button.btn:focus,button.btn:active{
    letter-spacing: 0.123rem;
    word-spacing: 0.2rem;
}
.hidden{
    display: none;
}
.score{
    position: absolute;
    top: 115px;
    left: 47%;
    font-size: 22px;
    font-weight: bold;
    display: none;
}
@media(max-width:650px){
    .score{
        top:105px;
        left: 43%;
    }
    h1{
        font-size: 1rem;
        letter-spacing: 7px;
    }
    .gameArea{
        width: 90%;
    }
}
@media(max-width:350px){
    .score{
        top:125px;
        left: 43%;
    }
    h1{
        font-size: .5rem;
        letter-spacing: 7px;
    }
    .gameArea{
        width: 100%;
    }
}